PASSWORD=ChangeMe123!
TIMEZONE=Asia/Jakarta
DNS_FORWARDER_1=8.8.8.8
DNS_FORWARDER_2=1.1.1.1
ZIMBRA_INSTALLER_URL=https://files.zimbra.com/downloads/10.1.0_GA/zcs-NETWORK-10.1.0_GA_4688.RHEL9_64.20240911074203.tgz
